{% load static %}
<html>
<head>
	<title>Залоговое имущество</title>
	<meta charset="utf-8">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">

	<link rel="stylesheet" href="{% static 'papp/css/reset.css' %}">
	<link rel="stylesheet" href="{% static 'papp/css/authentication.css' %}">
	<link rel="shortcut icon" href="{% static 'papp/imgs/favicon.ico' %}" type="image/x-icon">

</head>
<body>
	<div id="modal">
		<div id="modal_content">
			<p>Войти</p>
			<form method='POST' action="">{% csrf_token %}
				{{login_form}}
				<input type="submit" value="{{login_title}}">
			</form>
			<form method='GET' action="{% url 'register' %}">
    			{% csrf_token %}
    			<input type="hidden" name="next" value="{{next}}">
    			<button type="submit">Нет аккаунта? Зарегистрироваться</button>
			</form>
		</div>
	</div>
</body>
</html> 