/*----------------------------------Basic styles----------------------------------*/
body, html{
    margin: 0;
    font-family: "MuseoSansLight";
}

/*----------------------------------Header styles----------------------------------*/
#header
{
	background-color: #fff;
	border-bottom: 1px solid #e6e6e6;
}

#header_content
{
	margin: 0 auto;
	width: 1180px;
	height: 90px;
}

#menu
{
	width: 79px;
    height: 90px;
	border-left: 1px solid #e6e6e6;
	text-align: center;
	float: left;
}

#menu img
{
    margin-top: 30px;
	width: 30px;
	height: 21px;
}

#logo
{
	float: left;
}

#logo img
{
	width: 219px;
	height: 90px;
	border-left: 1px solid #e6e6e6;
}

#callcenter
{
	width: 279px;
	height: 90px;
	border-left: 1px solid #e6e6e6;
	float: left;
	text-align: center;
}

#callcenter p:first-child
{
	margin: 14px auto 4px;
	font-family: "MuseoSansLight";
	font-size: 19px;
}

#callcenter p:first-child img 
{
	padding-left: 24px;
	vertical-align: text-bottom;
}

#callcenter p:last-child
{
	margin: 10px auto 4px;
	font-family: "MuseoSansLight";
	font-size: 15px;
	color: #007553;
}

#callcenter b
{
	font-weight: bold;
}

#callcenter select
{
	color: #007553;
	font: 15px "MuseoSansLight";
	width: 157px;
	height: 26px;
	border: none;
	text-decoration: underline;
	/*for webkit*/
	-webkit-appearance: none;
	/*for FireFox*/
	-moz-appearance: none;
	text-indent: 0.01px;
	/*for IE*/
	-ms-appearance: none;
	appearance: none!important;
    background-color: #fff;
	background-size: 12%;
	background-position: right center;
	background-repeat: no-repeat;
	cursor: pointer;
	text-align-last: center; /*for Google Chrome*/
	text-align: center; /*for FireFox*/
}

#callcenter select::-ms-expand {
  	display: none;
}

#contacts
{
	width: 269px;
	height: 90px;
	border-left: 1px solid #e6e6e6;
	float: left;
	text-align: center;
}

#contacts p
{
	font-family: "MuseoSansRegular";
	font-size: 16px;
	margin-top: 30px;
}

#contacts img
{
	vertical-align: middle;
	padding-right: 20px;
}

#personal_account
{
	width: 249px;
	height: 90px;
	background-color: #007553;
	float: left;
	text-align: center;
	z-index: 2;
}

#personal_account p
{
	font-family: "MuseoSansRegular";
	font-size: 16px;
	margin: 30px 0;
	color: #fff;
}

#personal_account img
{
	vertical-align: middle;
	padding-right: 20px;
}

#logged_checker{
	width: 10px;
	height: 10px;
	background-color: #8ac176;
	position: absolute;
	border-radius: 50%;
	margin: 20px 0 0 -28px;
	display: none;
}

#personal_account .logging{
	display: none;
	position: relative;
	background-color: #007553;
	width: 249px;
	z-index: 3;
}

#personal_account .logging a{
	display: block;
	color: #fff;
	font-family: "MuseoSansRegular";
	font-size: 16px;
	padding: 20px 0;
	text-decoration: none;
}

#personal_account .logging a:hover{
	background-color: #F1A400;
}

#personal_account:hover .logging{
	display: block;
}

#personal_account button{
	background-color: transparent;
	color: #fff;
	border: none;
	padding: 20px 0;
	width: 100%;
	cursor: pointer;
	font: 16px "MuseoSansRegular";
}

#personal_account button:hover{
	background-color: #F1A400;
}

#languages
{
	width: 70px;
	height: 90px;
	float: left;
	text-align: center;
}

#languages select
{
	font: 15px "MuseoSansRegular";
	width: 50px;
	height: 26px;
	margin-top: 30px;
	border: none;
	/*for webkit*/
	-webkit-appearance: none;
	/*for FireFox*/
	-moz-appearance: none;
	text-indent: 0.01px;
	/*for IE*/
	-ms-appearance: none;
	appearance: none!important;
    background-color: #fff;
	background-size: 25%;
	background-position: right center;
	background-repeat: no-repeat;
	cursor: pointer;
	text-align-last: center; /*for Google Chrome*/
	text-align: center; /*for FireFox*/
}

/* font-family: "MuseoSansRegular"; */
@font-face {
    font-family: "MuseoSansRegular";
    src: url("../fonts/MuseoSansRegular/MuseoSansRegular.eot");
    src: url("../fonts/MuseoSansRegular/MuseoSansRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/MuseoSansRegular/MuseoSansRegular.woff") format("woff"),
    url("../fonts/MuseoSansRegular/MuseoSansRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

/* font-family: "MuseoSansLight"; */
@font-face {
    font-family: "MuseoSansLight";
    src: url("../fonts/MuseoSansLight/MuseoSansLight.eot");
    src: url("../fonts/MuseoSansLight/MuseoSansLight.eot?#iefix")format("embedded-opentype"),
    url("../fonts/MuseoSansLight/MuseoSansLight.woff") format("woff"),
    url("../fonts/MuseoSansLight/MuseoSansLight.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

/*----------------------------------Sidebar styles----------------------------------*/
#wrapper {
  padding-left: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#wrapper.toggled {
  padding-left: 270px;
}

#sidebar-wrapper {
  z-index: 2;
  position: fixed;
  left: 270px;
  width: 0;
  height: 100%;
  margin-left: -270px;
  overflow-y: auto;
  background: #007553;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
  width: 270px;
}

#page-content-wrapper {
  width: 100%;
  position: absolute;
  padding: 15px;
}

#overlay {
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
  background-color: rgba(0,0,0,.3);
  cursor: pointer;
}

.sidebar-nav {
  position: absolute;
  top: 40px;
  width: 270px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.sidebar-nav li {
  text-indent: 20px;
  line-height: 40px;
}

.sidebar-nav li a {
  display: block;
  font-size: 18px;
  text-decoration: none;
  color: #fff;
}

.sidebar-nav li a:hover {
  text-decoration: none;
  background: #F1A400;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
}

/*----------------------------------Heading styles----------------------------------*/
#heading{
	background-color: #fffaf1;
	border-bottom: 1px solid #e6e6e6;
}

#heading_content{
	margin: 0 auto;
	width: 1180px;
	height: 144px;
	background-color: #fffaf1;
}

#heading_content h1 {
	padding-top: 56px;
	font-size: 32px;
}

/*----------------------------------Selecting menu styles----------------------------------*/
#selecting_menu{
	background-color: #fff;
	border-bottom: 1px solid #e6e6e6;
}

#selecting_menu_content{
	margin: 0 auto;
	width: 1180px;
	height: 70px;
	background-color: #fff;
}

#selecting_menu_content a{
	text-decoration: none;
	color: #000;
}

#selecting_menu_content div:first-child{
	padding-top: 29px;
	padding-right: 55px;
	width: 545px;
}

#selecting_menu_content div:first-child a{
	color: #007553;
}

#selecting_menu_content div:last-child{
	float: right;
	margin-top: -34px;
}

#selecting_menu_content div:last-child ul{
	display: inline;
}

#selecting_menu_content div:last-child ul li{
	float:left;
}

#selecting_menu_content div:last-child ul li:first-child{
	float:left;
	padding-right:20px;
}

#selecting_menu_content div:last-child ul li:nth-child(2){
	padding: 20px 147px 0 0;
}

#selecting_menu_content div:last-child ul li:nth-child(3){
	padding: 20px 20px 0 0;
}

/*----------------------------------Main info styles----------------------------------*/
#main_info{
	background-color: #fff;
	min-height: 800px;
	overflow: hidden;
}

#main_info_content{
	margin: 0 auto;
	width: 1180px;
	padding-top: 68px;
	background-color: #fff;
}

/*----------------------------------Main info styles----------------------------------*/
#object_info{
	width: 545px;
	height: 1200px;
	padding-right: 55px;
}

#object_info h1{
	font-size: 25px;
	padding-bottom: 55px;
}

#object_info table{
	width: 100%;
	text-align: left;
}

#object_info table td:first-child{
	font-weight: bold;
	font-size: 14px;
	width: 200px;
}

#object_info table td:last-child{
	font-size: 18px;
	padding-bottom: 33px;
}

/*----------------------------------Additional info styles----------------------------------*/
#additional_info{
	width: 580px;
	float: right;
	margin-top: -1200px;
}

#additional_info .action_bar{
	width: 100%;
	height: 33px;
}

#additional_info .action_bar ul{
	display: inline;
}

#additional_info .action_bar ul li{
	float: left;
	font-weight: bold;
	font-size: 14px;
	padding-right: 20px;
}

#additional_info .action_bar ul li:nth-child(2){
	padding: 10px 20px 0 0;
}

#additional_info .action_bar ul li:nth-child(4){
	padding: 10px 20px 0 0;
}

#additional_info .action_bar ul li:nth-child(6){
	padding: 10px 0 0;
}

/*----------------------------------Slider styles----------------------------------*/
#slider{
	width: 580px;
	height: 380px;
	margin-top: 50px;
}

#slider img{
	width: 480px;
	height: 380px;
	object-position:center;
	object-fit:cover;
}

#slider ul{
	float:right;
}

#slider ul li{
	width: 80px;
	height: 60px;
	overflow: hidden;
	background-color: #000;
	margin-bottom: 20px;
	cursor: pointer;
	opacity: .7;
	box-sizing: border-box;
}

#slider ul li:last-child{
	padding-bottom: 0px;
}

#slider ul li img{
	width: 80px;
	height: 60px;
	object-position:center;
	object-fit:cover;
	margin-bottom: 20px;
}

#slider .active{
	border: 3px solid #007553;
	opacity: 1!important;
}

/*----------------------------------Additional contacts styles----------------------------------*/
#additional_contacts{
	width: 580px;
	padding-top: 50px;
}

#additional_contacts h1{
	font-size: 25px;
	padding-bottom: 40px;
}

#additional_contacts table{
	margin-bottom: 50px;
}

#additional_contacts table tr{
	height: 70px;
}

#additional_contacts table td{
	vertical-align: middle;
}

#additional_contacts table td:nth-child(2){
	font-weight: bold;
	font-size: 14px;
}

#additional_contacts table td:last-child{
	font-size: 18px;
}

#suggest_price_input{
	width: 100%;
	margin-top: 10px;
	border: 1px solid #000;
	padding: 20px 30px;
}

::-webkit-input-placeholder{
	font: 13px "MuseoSansRegular";
	color: #4d4d4d;
}

:-moz-placeholder{ /* Firefox 18- */
	font: 13px "MuseoSansRegular";
	color: #4d4d4d; 
}

::-moz-placeholder{  /* Firefox 19+ */
	font: 13px "MuseoSansRegular";
	color: #4d4d4d;  
}

:-ms-input-placeholder{
	font: 13px "MuseoSansRegular";
	color: #4d4d4d;  
}

/*----------------------------------Application styles----------------------------------*/
#application{
	background-color: #e0f4d5;
}

#application_content{
	margin: 0 auto;
	width: 500px;
	padding: 50px 0 60px;
}

#application_content h1{
	font-size: 28px;
}

/*----------------------------------Modal styles----------------------------------*/
#modal{
	display: none;
	position: fixed;
	z-index: 4;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	background-color: rgb(0, 0, 0);
	background-color: rgba(0, 0, 0, .4);
	color: #000;
}

#modal_content{
	background-color: #fffaf1;
	margin: 10% auto;
	padding: 30px 40px;
	width: 480px;
}

#modal_content span{
	display: block;
	font-size: 20px;
}

#modal_content button{
	background-color: transparent;
	color: #007553;
	border: none;
	padding: 0px;
	cursor: pointer;
	font: 20px "MuseoSansRegular";
}

input[type=submit]{
	width: 100%;
	margin-top: 30px;
	border: none;
	background-color: #00805d;
	color: white;
	text-align: center;
	padding: 22px 0;
	cursor: pointer;
	text-decoration: none;
	font-family: "MuseoSansRegular";
	font-weight: bold;
}

/*----------------------------------Success styles----------------------------------*/
#success{
	display: none;
	position: fixed;
	z-index: 4;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	background-color: rgb(0, 0, 0);
	background-color: rgba(0, 0, 0, .4);
	color: #000;
}

#success_content{
	background-color: #fffaf1;
	margin: 10% auto;
	padding: 30px 40px;
	width: 480px;
}

#success_content p{
	font-size: 26px;
}

/*----------------------------------Footer styles----------------------------------*/
#footer{
	background-color: #f3f6f9;
	height: 160px;
	font-size: 14px;
}

#footer_content{
	margin: 0 auto;
	padding-top: 60px;
	width: 1180px;
	background-color: #f3f6f9;
}

#footer_content ul{
	margin: 0 auto;
	padding-top: 60px;
	width: 1180px;
	background-color: #f3f6f9;
	display: inline;
}

#footer_content ul li{
	float: left;
}

#footer_content .social_buttons p{
	color: #000;
}

#footer_content .social_buttons ul{
	display: inline;
}

#footer_content .social_buttons ul li{
	float: left;
	padding-right: 10px;
}

.social_buttons{
	width: 350px;
}

.certificates{
	padding-right: 40px;
}

.certificates img{
	padding-right: 30px;
}

.certificates img:first-child{
	width: 128px;
}

.certificates img:last-child{
	padding-right: 0px;
}

.license{
	width: 300px;
	line-height: 150%;
	padding-right: 32px;
}

.creator{
	padding-top: 45px;
	width: 176px;
}